@using System.Security.Claims
@model DadosCadastraisMedicos

@{
    ViewData["Title"] = "Dados Cadastrais";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<main class="min-h-100vh" style="min-height: 160vh">
    <h2>Dados Cadastrais</h2>

    <!-- Saudação personalizada -->
    <h6 class="mb-4">
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            @* Exibe o nome do usuário se ele estiver logado *@
            <span>Olá @User.Identity.Name, esperamos que esteja bem!</span>

        }
        else
        {
            @* Exibe "Visitante" se o usuário não estiver logado. Não tem que acontecer aqui, mas vou deixar por precaução. *@
            <span>Bem-vindo, Visitante! Faça login para acessar suas informações.</span>
        }
    </h6>

    <p>Deixe seus dados atualizados e receba as mehlores recomendações. Acompanhe também nosso programa de benefícios, feito personalizado para você</p>

    <div class="grid gap-5">
        <!-- Seção com dados dos clientes -->
        <section class="card p-3 mb-2 shadow-lg bg-body-tertiary rounded">
            <h3>Dados pessoais</h3>
            <p>Nome: @Model.Especialista.Nome</p>
            <p>E-mail: @Model.Especialista.Email</p>
            <p>Telefone: @Model.Especialista.Telefone</p>
            <p>Especialidade: @Model.Especialista.Especialidade</p>
            <p>CRM: @Model.Especialista.CRM</p>
            <p>Senha: @Model.Especialista.Senha</p>

            <div class="form-group pt-3">
                <a asp-controller="PaginaMedicos" asp-action="Index" class="btn btn-warning">Voltar</a>
                <a asp-controller="Especialista" asp-action="Atualizar" class="btn btn-primary">Atualizar</a>
                <a asp-controller="Home" asp-action="Hero" class="btn btn-secondary bg-green">Home</a>
            </div>

        </section>

    </div>

</main>