@model IEnumerable<DelfosMachine.Models.Cliente>

<h2>Lista de Clientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Genero</th>
            <th>Data Nascimento</th>
            <th>Senha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.Genero</td>
                <td>@cliente.DataNasc</td>
                <td>@cliente.Senha</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group pt-3">
    <a asp-controller="Cliente" asp-action="Criar" class="btn btn-warning">Voltar</a>
    <a asp-controller="DadosCadastrais" asp-action="Consultar" class="btn btn-primary">Criar</a>
    <a asp-controller="Home" asp-action="Hero" class="btn btn-secondary bg-green">Home</a>
</div>